*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

.navbar-nav{
    font-size: 20px;
    color: gray;
}

.main-btn{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 3% 8%;
    font-size: 20px;
}
.mon-p{
    background-color: rgb(8, 129, 123);
    padding: 10% 5%;
    color: white;
    font-size: 17px;
    border-style: inset;
    border: none;
    text-align: center;
    box-shadow: 2px 5px 2px 0px;
}

.btn{
    background-color: rgb(255, 0, 0);
}

.formation{
    background-color: rgb(16, 164, 169);
    text-align: center;
    border-style: inset;
    border: none;
    border-radius: 15px;
    color: white;
}


.div-bakeli{
    border: 1px solid aqua;
    height: auto;
    border-radius: 15px;
}

.pro{
    border: 1px solid red;
    padding: 2% 5%;
    border-radius: 15px;
}

.design{
    border: 1px solid aqua;
    padding: 2% 5%;
    border-radius: 15px;
}

.Marketing{
    border: 1px solid orange;
    padding: 2% 5%;
    border-radius: 15px;
}

.entro{
    border: 1px solid aqua;
    padding: 2% 5%;
    border-radius: 15px;
}


#banner{
    background-image: linear-gradient(to right, #f70509, #f70509);
    color: #FFF;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 50px;
    margin: 20px;
}

#banner a{
    color: #FFF;
    text-decoration: none;
}


.bottom-img{
    width: 100%;
}




.icons-flex{
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
}

.claire{
    color: gray;
}

#section-activite{
    background-image: linear-gradient(to right, #f70509, #f70509);
    color: white;
    padding-bottom: 5%;
}
.activite-img{
    width: 100%;
}

.img-1{
    width: 90%;
    height: 55vh;
}

.active-button{
    border: none;
    background: none;
    color: white;
}

.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
    color: #FFF;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}


.section-partainer{
    background-color: blue;
}

#footer{
    background-color: rgba(5, 148, 133, 0.984);
    color: white;
    padding-top: 3%;
}

.blanc{
    color: white;
}

.card-waraper{
    display: flex;
    justify-content: space-around;

}

.card-rec{
    border: 1px solid aqua;
    padding: 2% 3%;
}

/* -----Responsive------- */

@media screen and (max-width:1280px){
    
    .card-waraper{
        margin-bottom: 5%;
        flex-wrap: wrap;
    }

}


@media screen and (max-width:930px){
    .flex{
        margin-left: 39%;
    }
    footer{
        text-align: center;
    }
    .div-p{
        margin-left: 5%;
    }

    .div-bakeli p{
        font-size: 25px; 
     }
     .display img{
        width: 15%;
     }

     .img-1{
        height: 30vh;
        margin-bottom: 5%;
    }
}

@media screen and (max-width:820px){
    .img-1{
        height: 34vh;
        margin-bottom: 5%;
    }

    .div-p{
        margin-left: 2%;
    }
}


@media screen and (max-width:775px){
    .div-bakeli p{
        font-size: 17px; 
     }

     .div-p{
        margin-left: 0;
    }
    .img-1{
        height: 40vh;
        margin-bottom: 5%;
    }

    

    .Couper img{
        margin-bottom: 5%;
    }


    .img-1{
        margin-bottom: 5%;
    }

     
    .pro, .design,.Marketing, .card-rec{
        margin-bottom: 5%;
    }

    .flex{
        margin-left: 40%;
    }
    footer{
        text-align: center;
    }
    .div-rect img{
        width: 90%;
    }
}

@media screen and (max-width:414px){
    

    
}

@media screen and (max-width:280px){

    .div-bakeli{
       height: 90vh;
    }
}